---
layout: default
title: You found me!
---

%h2 Hey there!
%h3 My name's David Johnson.
%p I'm a designer and developer form Milwaukee, WI currently residing in Chicago, IL. I've worked for dozens of clients around the world both big and small. My skills range from web design and development to video production and motion graphics.

