%header.row
  %nav.row
    %ul.navigation
      %a{ href: "/" } Home
      %a{ href: "/blog" } Blog
      %a{ href: "/contact" } Contact
  .row
    .col.large-12.medium-12.small-12
      %h1 DavidJohnson.me
