%header.site-wide.row
  %nav.site-wide.row
    %h1
      %small Hey there, I'm
      David Johnson
    %ul.reset.navigation
      %a{ href: "/" } Home
      %a{ href: "/blog" } Blog
      %a{ href: "/contact" } Contact
