/* line 1, /Users/davidjohnson/www/davidjohnson91.github.io/assets/stylesheets/typography.scss */
body {
  font: normal 15px/1.2 sans-serif;
  color: #fff;
}

/* line 6, /Users/davidjohnson/www/davidjohnson91.github.io/assets/stylesheets/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 2em;
}
