@import "reset";
@import "bourbon";
@import "grid";
@import "typography";
@import "syntax";
@import "header";
@import "footer";

html{
  background: #FFFBF1;
}

img{
  width: 100%;
  margin-bottom: 1em;
}

/*LARGE screens*/
@media  #{$large_query} {
  $size: 'large';
  @include grid-size($size);
}

/*MEDIUM screens*/
@media #{$medium_query} {
  $size: 'medium';
  @include grid-size($size);
}

// SMALL screens
@media #{$small_query} {
  $size: 'small'; //This should be small should we ever target mobile
  @include grid-size($size);
  ul.horizontal.submit-list{
    margin-bottom: 20px;
    li{
      &:before{
        margin: 2px 0;
      }
      &:last-child{
        .btn{
          margin-bottom: 20px;
        }
      }
    }
    .btn{
      display: block;
      width: 100%;
      margin-bottom: 0;
    }
  }
}
