@import "reset";
@import "bourbon";
@import "base";
@import "grid";
@import "typography";
@import "syntax";
@import "header";
@import "navigation";
@import "footer";

/*LARGE screens*/
@media  #{$large_query} {
  $size: 'large';
  @include grid-size($size);
}

/*MEDIUM screens*/
@media #{$medium_query} {
  $size: 'medium';
  @include grid-size($size);
}

// SMALL screens
@media #{$small_query} {
  $size: 'small';
  @include grid-size($size);
}
