$orange: #FF4B00;
$orange_dk: darken(#FF4B00, 20%);

$blue: #08f;
$blue_dk: darken($blue, 10%);

.clearfix{
  @include clearfix;
}

.reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

html{
  background: #fafafa;
  text-shadow: 0 1px #fff;
}

img{
  width: 100%;
  margin-bottom: 1em;
}
