nav.site-wide{
  line-height: 40px;
  vertical-align: baseline;
  padding: 10px 0;
  margin: 0 0 10px;
  border-bottom: 1px solid #ccc;

  h1{
    margin: 0;
  }

  .navigation{
    text-align: right;
    font-size: 1.2em;
    font-family: $serif;
  }

  @media #{$small_query} {
    & {
      text-align: center;
      line-height: 1.2;

      .navigation{
        text-align: center;
      }
    }
  }
}
