@include font-face(icons, 'fonts/icons/icons', normal);

$serif: Georgia;
$sans-serif: helvetica neue, sans-serif;

html{
  font: 300 15px/1.2 $sans-serif;
  color: #222;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6{
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 .67em;
  padding: 0;
}

.blog-post{
  font: 1.3em/1.5 $serif;
}

a{
  color: $blue;
  text-decoration: none;
  &:hover{
    color: $blue_dk;
    text-decoration: underline;
  }
}
